@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans+Condensed:wght@300&display=swap');


.App{
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    height: 100%;
}
#btn-upload:hover{
    border-radius: 4px;
    background-color: #33334c;
}
#p-intro{
    font-family: 'Open Sans Condensed', sans-serif;
}
#doc_info_table{
    font-family: 'Open Sans Condensed', sans-serif;
}
#doc_info_table_each_row{
    border-bottom: 1px solid #33334c;
    padding: 0 3%;
}
#filelist-title{
    font-family: 'Open Sans Condensed', sans-serif;
}
#qalist{
    font-family: 'Open Sans Condensed', sans-serif;
}
#doc_info{
    font-family: 'Open Sans Condensed', sans-serif;
}
#login_card_txt{
    font-family: 'Open Sans Condensed', sans-serif;
}