@font-face {
    font-family: "KPMG-extralight";
    src: url("../../components/fonts/KPMG-Extralight\ 151009.ttf") format('truetype');
}
@font-face {
    font-family: "KPMG-univers";
    src: url("../../components/fonts/UniversforKPMG-Black.ttf") format('truetype');
}
@font-face {
    font-family: "f2";
    src: url("../../components/fonts/UVCL____.TTF") format('truetype');
}
@font-face {
    font-family: "f";
    src: url("../../components/fonts/UniversforKPMG-Cond.ttf") format('truetype');
}

.project{
    padding-top: 25px;
    margin: 40px 40px;
    font-family: f;
}

#card-row{
    display: flex;
    flex-direction: row;
    padding: 0;
}

#pj{
    width: 50%;
    border: none;
    color: white;
    border-radius: 0;
}

#pj-img{
    border-radius: 0;
    background-color: #00338d;
    height: 100%;
}

#pj-text{
    margin-top: 50%;
    text-align: left;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    color: white;
    width: 100%;
    transition-duration: 1s;
    border-radius: 0;
}
#pj-text:hover{
    margin-top: 0%;
    text-align: left;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    transition-duration: 1s;
    color: white;
}


#arrow-btn{
    border: none;
    background-color: transparent;
    padding-left: 0;
}
